<app-header />

<div class="container">
  <div class="content-container">
    <section id="about" class="hero">
      <div class="left">
        <div class="image-container">
          <img class="image-contain" src="./images/Legarde.png" />
        </div>
        <h3>Full Stack Web Developer</h3>
      </div>
      <div>
        <h2>About Me</h2>
        <div class="hero-details">
          <p>
            I’m a 4th year BSIT student currently studying at Gordon College.
            I’m passionate to put my knowledge and skills that i have acquired
            throughout my course to use. I’m also very open in learning new
            skills, and I’m excited to gain practical knowledge by exposing
            myself in an IT work field.
          </p>
          <a href="./images/Legarde-Resume.png" target="_blank">
            <button mat-raised-button style="width: fit-content">
              View Resume
            </button>
          </a>
          <div class="social-links">
            <a
              href="https://www.facebook.com/ravenandre.legarde"
              target="_blank"
            >
              <button mat-icon-button>
                <span class="mdi mdi-facebook"></span>
              </button>
            </a>

            <a href="https://www.linkedin.com/in/raven-legarde" target="_blank">
              <button mat-icon-button>
                <span class="mdi mdi-linkedin"></span>
              </button>
            </a>

            <a href="https://github.com/Raveniis" target="_blank">
              <button mat-icon-button>
                <span class="mdi mdi-github"></span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="skills">
      <h2 class="text-center">Skills</h2>
      <div class="tech-skills">
        <div class="skill-card" *ngFor="let skill of skills">
          <img [src]="skill.src" [alt]="skill.alt" />
          <p>{{ skill.alt }}</p>
        </div>
      </div>
    </section>

    <section id="vlog">
      <h2 class="text-center">OJT Vlog</h2>
      <video controls>
        <source src="your-ojt-video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </section>

    <!-- <section id="ojt-documentation">
      <h2 class="text-center">OJT Documentation</h2>
    </section> -->
  </div>
</div>

<app-footer />
<!-- <div class="card-container">
      <mat-card appearance="outlined" class="card"  >
         <mat-card-content>Simple card</mat-card-content>
       </mat-card>
   </div> -->
